.flex-container {
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
  }
  
  .flex-container > div {

    background-color: #703b3b;
    margin: 5px;
    text-align: left;
  }